<!DOCTYPE html>
<html ng-app="passwordGeneratorApp">

<head>
  <title>Password Generator</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <style>
    label {
      display: block;
      margin: 10px 0;
    }

    .error {
      color: red;
    }
  </style>
</head>

<body ng-controller="PasswordGeneratorController">
  <h1>Password Generator</h1>

  <label>
    <input type="checkbox" ng-model="options.includeNumbers" ng-change="generatePassword()"> Include Numbers
  </label>

  <label>
    <input type="checkbox" ng-model="options.includeUppercase" ng-change="generatePassword()"> Include Uppercase Letters
  </label>

  <label>
    <input type="checkbox" ng-model="options.includeLowercase" ng-change="generatePassword()"> Include Lowercase Letters
  </label>

  <label>
    <input type="checkbox" ng-model="options.includeSymbols" ng-change="generatePassword()"> Include Symbols
  </label>

  <div class="error" ng-show="!hasSelectedOptions()">Please select at least one option.</div>

  <label>
    Generated Password:
    <input type="text" ng-model="generatedPassword" readonly>
  </label>

  <script>
    angular.module('passwordGeneratorApp', [])
      .controller('PasswordGeneratorController', function ($scope) {
        $scope.options = {
          includeNumbers: false,
          includeUppercase: false,
          includeLowercase: false,
          includeSymbols: false
        };

        $scope.generatePassword = function () {
          if ($scope.hasSelectedOptions()) {
            // Define character sets based on selected options
            const numbers = '0123456789';
            const uppercaseLetters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
            const lowercaseLetters = 'abcdefghijklmnopqrstuvwxyz';
            const symbols = '!@#$%^&*()_+-=[]{}|;:,.<>?';

            let characterSet = '';
            if ($scope.options.includeNumbers) {
              characterSet += numbers;
            }
            if ($scope.options.includeUppercase) {
              characterSet += uppercaseLetters;
            }
            if ($scope.options.includeLowercase) {
              characterSet += lowercaseLetters;
            }
            if ($scope.options.includeSymbols) {
              characterSet += symbols;
            }

            // Generate password
            let password = '';
            const length = 12; // You can adjust the length of the password
            for (let i = 0; i < length; i++) {
              const randomIndex = Math.floor(Math.random() * characterSet.length);
              password += characterSet[randomIndex];
            }

            $scope.generatedPassword = password;
          }
        };

        $scope.hasSelectedOptions = function () {
          return $scope.options.includeNumbers || $scope.options.includeUppercase ||
            $scope.options.includeLowercase || $scope.options.includeSymbols;
        };
      });
  </script>
</body>
</html>

